<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <%- include('partials/header.ejs') %>

        <h3>INICIO DE SESIÓN</h3>
        <form action="/user/login" method="post">
            <label for="email">Usuario</label>
            <input 
                type="email" 
                id="email"
                placeholder="Ingresar email" 
                name="email"
                value="<%= locals.oldData ? oldData.email : null %>"
            >
                <% if (locals.errors && errors.email) { %>
                    <p><%= errors.email.msg %> </p>
                <% } %>

            <label for="password">Contraseña</label>
            <input 
                type="password" 
<<<<<<< HEAD
                id="password" 
                name="user_password"
            >
            <% if (locals.errors && errors.user_password) { %>
                <p style="color: red"><%= errors.user_password.msg %> </p>
            <% } %>

            <button type="submit">INICIAR SESIÓN</button>
            
            <h3>¿ No tenés cuenta ?</h3>
            <a href="/user/register">CREAR CUENTA</a>                
        </form>
    <%- include('partials/footer.ejs') %>
</body>
=======
                id="password"
                placeholder="Ingresar contraseña" 
                name="user_password"
            >
            <% if (locals.errors && errors.user_password) { %>
                <p><%= errors.user_password.msg %> </p>
            <% } %>
            
            <label for="">--> Recordame <--</label>
            <input type="checkbox" name="recordame">
            <button type="submit">INICIAR SESIÓN</button>

            <h4>¿ No tenés cuenta ?</h4>
            <a href="/user/register">
                <label for="check-register"></label>CREAR CUENTA
            </a>                
        </form>
        <%- include('partials/footer.ejs') %>
    </body>
>>>>>>> origin
</html>