<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <div class="carrusel">
            <img src="/img/carrusel.jpg" alt="carrusel" class="carrusel-foto">
        </div>

        <h3>INICIO DE SESIÓN</h3>
        <label for="check">
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <form action="/user/login" method="post">
            <label for="name">Usuario</label>
            <input 
            type="text" 
            id="name" 
            name="user_name"
            value="<%= locals.oldData ? oldData.user_name : null %>"
            >
            <% if (locals.errors && errors.user_name) { %>
                <p style="color: red"><%= errors.user_name.msg %> </p>
            <% } %>

            <label for="password">Contraseña</label>
            <input 
            type="password" 
            id="password" 
            name="user_password"
            >
            <% if (locals.errors && errors.user_password) { %>
                <p style="color: red"><%= errors.user_password.msg %> </p>
            <% } %>

            <button type="submit">INICIAR SESIÓN</button>

            <h3>¿ No tenés cuenta ?</h3>
            <a href="/user/register">
                <label for="check-register">CREAR CUENTA</label>
            </a>                
        </form>
        <%- include('partials/footer.ejs') %>
    </body>
</html>