<!DOCTYPE html>
<html lang="es">
    <head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/create.css">
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <div class="carrusel">
            <img src="/img/carrusel.jpg" alt="carrusel" class="carrusel-foto">
        </div>

        <h3>CREAR PRODUCTO</h2>
                               
            <form action="/product" method="POST" enctype="multipart/form-data">

                                
                <label for="name">Nombre del producto</label>
                <input 
                    type="text" 
                    id="name" 
                    name="name" 
                    placeholder="Ej: Bicicleta" 
                    class="form-input"
                    value="<%= locals.oldData ? oldData.name : null %>"
                >
                <h6 class="errors">
                    <% if (locals.errors && errors.user_name) { %>
                        <%= errors.user_name.msg %>
                    <% } %>
                </h6>

                <label for="price">Precio del producto</label>
                <input 
                    type="text" 
                    id="price" 
                    name="price" 
                    placeholder="Ej: 75500" 
                    class="form-input"
                    value="<%= locals.oldData ? oldData.price : null %>"
                    >
                    <h6 class="errors">
                        <% if (locals.errors && errors.price) { %>
                            <%= errors.price.msg %>
                        <% } %>
                    </h6>

                    <label for="discount">Descuento</label>
                    <input 
                        type="text" 
                        id="discount" 
                        name="discount" 
                        placeholder="Ej: 15" 
                        class="form-input"
                        value="<%= locals.oldData ? oldData.discount : null %>"
                        >
                    <h6 class="errors">
                        <% if (locals.errors && errors.discount) { %>
                            <%= errors.discount.msg %>
                        <% } %>
                    </h6>

                    <label for="category">Categoría</label>
                    <select 
                        name="category" 
                        id="category" 
                        class="form-input"
                    >
                    
                    <% for( let i = 0; i < categories.length; i++ ) { %>
                        <option value="<%= categories[i].id %>">
                            <%= categories[i].name %> 
                        </option>
                    <% } %>

                    <h6 class="errors">
                        <% if (locals.errors && errors.category) { %>
                            <%= errors.category.msg %>
                        <% } %>
                    </h6>
                        
                    </select>

                    <label for="description">Descripción</label>
                    <textarea name="description" id="description" class="form-input"></textarea>
                    <h6 class="errors">
                        <% if (locals.errors && errors.description) { %>
                            <%= errors.description.msg %>
                        <% } %>
                    </h6>

                    <label id="label-imagen" for="file">
                        Imagen del producto:
                        <div id="preview-avatar">
                            <i class="fas fa-camera fa-2x"></i>
                        </div>
                    </label>
                    <input 
                        type="file" 
                        id="file" 
                        name="image"
                        value="<%= locals.oldData ? oldData.image : null %>"
                    >   
                    <h6 class="errors">
                        <% if (locals.errors && errors.file) { %>
                            <%= errors.file.msg %>
                        <% } %>
                    </h6>
                </div>

                <button type="submit" >Guardar producto</button>


                        </form>
            <%- include('partials/footer.ejs') %>
            <script src="/js/productCreateFormValidations.js"></script>
    </body>
</html>