<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="carrusel">
        <img src="/img/carrusel.jpg" alt="carrusel" class="carrusel-foto">
    </div>
    <main>
        <div class="contenedor-productDetail">
            <h3 class="product-titulo">Detalle de Producto:<%= productoBuscado.id %></h3>
            <div class="contenedor-product-main">
                <section class="productDetail-section">
                    <div class="productDetail-foto">
                        <img class="foto-grande" src="/img/products/<%= productoBuscado.image %> " alt="miniatura">
                    </div>              
                </section>
                <div class="producto-detalle">
                    <p id="precio-anterior">$ <%= productoBuscado.price %></p>
                    <p class="producto-precio">$ <%= productoBuscado.price * (1 - (productoBuscado.discount/100)) %></p>
                    <p id="descuento">OFF <%= productoBuscado.discount %> %</p>
                    <div class="producto-descripcion">
                        <p>
                            <%= productoBuscado.description %>
                        </p>
                    </div>
                    <div>
                        <p class="producto-envio">Envío Gratis</p>
                        <div class="producto-botones">
                            <div class="producto-comprar"> 
                                <input  class="boton-comprar" type="button" value="Comprar">
                            </div>
                            <div class="producto-ver-carrito"> 
                                <input  class="boton-ver-carrito" type="button" value="Agregar al Carrito">
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>