<!DOCTYPE html>
<html lang="es">
    <head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <main>
            <br> <br>
            <section class="cart-main">
                <h3 class="cart-titulo">Carrito de Compras</h3>

                <% carts.forEach(cart => { %>
                    <% if (cart.id_user == user.id) { %>
                     
                        <% products.forEach(product => { %>
                            <% if (cart.id_product == product.id) { %>
                            <div class="cart-contenedor">
                                <div class="cart-contenedor-foto">
                                    <img class="foto-producto" src="<%= product.image %>" alt="miniatura">
                                </div>
                                <div class="cart-detalle">
                                    <div class="cart-detalle-precios">
                                        <p class="cart-precio">$ <%= product.actual_price %></p>
                                        <p class="cart-precio-anterior">$ <%= product.price%></p>
                                        <p class="cart-descripcion"><%= product.name %></p>     
                                    </div>
                                </div>
                                <div class="cart-producto-botones">
                                    <div class="cart-stock-comprar">
                                        <p style="color: orange; font-size: 18px;"><%= cart.quantity %></p>
                                    </div>
                                </div>
                                <p class="cart-subtotal"><%= cart.quantity * (product.price * (1 - (product.discount/100))) %></p>
                                <div>
                                    <a href="/product/delete/<%= product.id %> ">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>


                            </div>

                            <% } %>
                        <% }) %>
                    <% } %>
                <% }) %>

            </section>
        </main>
        <%- include('partials/footer.ejs') %>
    </body>
</html>