<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <div class="carrusel">
        <img src="./img/carrusel.jpg" alt="carrusel" class="carrusel-foto">
    </div>

    <main>
        <h3 class="oferta" id="ofertas">Todos los productos</h3>
        <section class="index-articulos">
            <% for (let i = 0; i < products.length; i++) { %>
                    <article class="contenedor">
                            <div class="contenedor-foto">
                                <a href="./product/detail/<%= products[i].id%>">
                                    <img class="foto-producto" src="<%= products[i].image %> " alt="miniatura">
                                </a>                            
                            </div>
                            <div class="detalle">
                                    <p class="precio-anterior">$ <%= products[i].price  %></p>
                                    <p class="precio">$ <%= products[i].price * (1 - (products[i].discount/100)) %></p>
                                    <p class="descuento"><%= products[i].discount %>% OFF</p>
                                    <p class="descripcion"><%= products[i].description %></p>
                            </div>
                    </article>                  
            <% } %>         
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>