<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <main>
            <h2>Hola <%= user.name %> !</h2>
            <h3>Email: <%= user.email %> </h3>
            <div class="productDetail-foto">
                <img class="imagen" src="/img/avatars/<%= user.picture %> " alt="miniatura">
            </div>
        </main>

        <%- include('partials/footer.ejs') %>
    </body>
</html>

