<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <br>
        <h1 style="color: white;">PERFIL</h1>
        <h1 style="color: white;">PERFIL: Bienvenido !!!</h1>
        <h3 style="color: skyblue;"><%= user.user_name %> </h3>
        <h3 style="color: skyblue;"><%= user.email %> </h3>
        <div class="productDetail-foto">
            <img style="width:30%" src="/img/avatars/<%= user.picture %> " alt="miniatura">
        </div>

        <a href="/user/edit/<%= user.id %>">
            <button type="submit" class="buy-now-button">Editar Perfil</button>
        </a>

        

        <form action="" method="POST">
            <button type="submit" class="buy-now-button">Eliminar Perfil</button>
        </form>
        <%- include('partials/footer.ejs') %>
    </body>
</html>

